footer {
    text-align: left;
  }
  
  footer div {
    text-align: left;
  }
  
  @media (max-width: 640px) {
    footer {
      text-align: center;
    }
  
    footer div {
      text-align: center;
    }
  }
  